.card {
  text-align: center;
  padding: 30px;
  transition: all 0.3s ease-out;
  width: 230px;
  height: 300px;
  color: white;
  font-size: 30px;
  perspective: 1500px;
  position: relative;
  cursor: pointer;
  /* animation: grow .5s ease-in-out; */
}

.front {
  border: solid 10px white;
  border-radius: 20px 40px;
  transition: box-shadow 0.3s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.5);
  background-image: linear-gradient(to bottom right, #ffcb05, orange);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
}

.front:hover {
  box-shadow: 0 25px 10px rgba(0, 0, 0, 0.4);
}

.front > h3 {
  transform: skew(0, -20deg);
}

.back {
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transform: rotateY(-180deg);
  background-color: lightblue;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
  border-radius: 40px 20px;
  border: solid 10px white;;
}

.card:hover {
  transform: translate(0, -10px);
}

.card.flippable:hover .front {
  transform: rotateY(180deg);
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.4);
}

.card.flippable:hover .back {
  transform: rotateY(0);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.sprite {
  width: 200px;
  height: 200px;
}

@keyframes grow {
  from {
    /* transform: scale(0); */
    transform: translateX(3000px);
  }

  to {
    /* transform: scale(1); */
    transform: translateX(0);
  }
}

@media (max-width: 700px) {
  .card {
    width: 100px;
    height: 150px;
    padding: 10px
  }

  .sprite {
    width: 150px;
    height: 150px;
  }

  .front > h3 {
    padding: 0;
  }

}
